div.signup {
  margin: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.signup-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.signup-form {
  display: flex;
  justify-content: center;
}
